.layout {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(135deg, #e7f4f5 10%, #75c6f5 90%, #ffffff 100%);;
}

.content {
  margin-left: 260px;
  flex: 1;
  padding: 40px;
  overflow-y: auto;
  transition: margin-left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.collapsed {
  margin-left: 72px;
}
@media (max-width: 1024px) {
  .content {
    margin-left: 0;
    padding: 20px;
  }
}